@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;

}
/*
#experience .vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: visible !important;
}
*/

.borderBlack {
  @apply border border-black/10;
}

html {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

